body {
  font-family: Arial;
  background: #e8f5e9;
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px;
}
header {
  background: #2e7d32;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

footer {
  background: #2e7d32;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
